*
  box-sizing border-box

body
  background linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/IMG_9557_edit.JPG') 40% 50%
  background-size cover
  background-attachment fixed
  color $white
  font-family $default
  -webkit-font-smoothing antialiased
  margin 0

img
  max-width 100%

// Layout
.row
  cf()

.large-only, large-only-flex
  display none


.sub-page-content
  max-width 1200px
  margin 40px auto 0
  padding 10px 0
  height 100%

.inner
  background rgba(255,255,255, .9)
  height 100%


// images
.round-top-left
  border-radius 10px 0 0 0





+above(48em)
  .small-only
    display none

  .large-only
    display inline-block

  .container
    padding 10px 30px

  .inner
    border-radius 10px



