*
  box-sizing border-box

body
  background url('../images/IMG_9557_edit.JPG') 40% 50%
  background-size cover
  background-attachment fixed
  color $white
  font-family $default
  -webkit-font-smoothing antialiased
  margin 0

img
  max-width 100%

p
  margin 1em
  line-height 1.6
  color $light-text
  font-size 1.3em
  margin 2em

.text-link
  color $primary-color
  &:hover
    color darken($turquoise, 10%)

// Layout
.row
  cf()

.large-only, large-only-flex
  display none


.sub-page-content
  max-width 1200px
  margin 40px auto 0
  padding 10px 0
  height 100%

.inner
  background rgba(255,255,255, .9)
  min-height 100%




// Layout
.left
  float left

.right
  float right


.page-header
  text-align center
  font-family $script
  font-size 3em
  font-weight 400


+above(48em)
  .small-only
    display none

  .large-only
    display inline-block

  .container
    padding 10px 30px

  .inner
    border-radius 10px
    margin-bottom 100px

  .page-header
    font-size 4em

  // images
  .round-top
    border-radius 10px 10px 0 0

  .round-top-left
    border-radius 10px 0 0 0

  .round-bottom-right
    border-radius 0 0 10px 0




