body
  background linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/IMG_9557_edit.JPG') 40% 50%
  background-size cover
  color $white
  font-family $default
  -webkit-font-smoothing antialiased


// Layout
.row
  cf()

.large-only, large-only-flex
  display none

// NAV
.layout-transparent
  background none

  .mdl-layout__header,
  .mdl-layout__drawer-button
    color white

.mdl-layout__header
  background-color rgba(0,0,0,0)

.mdl-layout__header .mdl-layout__drawer-button
  background none

.mdl-layout__drawer-button
  .material-icons
    margin-top 10px

.header-title
  font-family $script
  font-size 1.7em


+above(48em)
  .small-only
    display none

  .large-only
    display inline-block

  .large-only-flex
    display flex

  .mdl-layout__drawer-button
    display none



+below(1024px)
  .mdl-layout__header
    display block

+below(767px)
  .mdl-layout__header
    display none

