$totalColumns = 12

.row
  cf()

for i in (1..$totalColumns)
  .col-{i}
    col(i /$totalColumns, gutter: 2)

for i in (1..$totalColumns)
  .span-{i}
    span(i /$totalColumns)


@media screen and (min-width: 768px)
  for i in (1..$totalColumns)
    .md-col-{i}
      col(i /$totalColumns, gutter: 2)

  for i in (1..$totalColumns)
    .md-span-{i}
      span(i /$totalColumns)

@media screen and (min-width: 1024px)
  for i in (1..$totalColumns)
    .lg-col-{i}
      col(i /$totalColumns, gutter: 2)

  for i in (1..$totalColumns)
    .lg-span-{i}
      span(i /$totalColumns)
