h2 Placeholders

h3 LESS Placeholder
.example
  p NOPE!
  p.
    The closest you can get is mixins but you cannot take advantage of @extend grouping benefits.


h3 SASS Placeholder
.example
  pre
    code.language-stylus.
      %placeholder-1
        color: red

      .include-placeholder-1
        @extend %placeholder-1

  p Generates:
  pre
    code.language-css.
      .include-placeholder-1 {
        color: red;
      }


h3 Stylus Placeholder
.example
  pre
    code.language-stylus.
      $placeholder-1
        color red

      .include-placeholder-1
        @extend $placeholder-1

  p Generates:
  pre
    code.language-css.
      .include-placeholder-1 {
        color: #f00;
      }


