.container.row.logo-wrap
  button.nav-button
    span.nav-button-row
    span.nav-button-row
    span.nav-button-row
  h1.header-logo
    a.header-logo-link(href="#home")
      span.d D
      span.a A

nav.container.row.main-nav
  li
    a(href="#home") Home
  li
    a(href="#story") Our Story
  //- li
    //- a(href="#party") Wedding Party
  //- li
    //- a(href="#photos") Photos
  li
    a(href="#accomodations") Travel &amp; Accomodations
  li
    a(href="#registry") Registry
  li
    a.rsvp-link.external-link(href="https://harriswedding.typeform.com/to/DuW2cS" target="_blank") RSVP
