//- header.mdl-layout__header
//-   .mdl-layout__header-row
//-     // Title
//-     span.mdl-layout-title D &amp; A
//-     // Add spacer, to align navigation to the right
//-     .mdl-layout-spacer
//-     // Navigation
//-     nav.mdl-navigation.large-only-flex
//-       a.mdl-navigation__link(href="#home") Home
//-       a.mdl-navigation__link(href="#story") Our Story
//-       a.mdl-navigation__link(href="#party") Wedding Party
//-       a.mdl-navigation__link(href="#photos") Photos
//-       a.mdl-navigation__link(href="#accomodations") Accomodations
//-       a.mdl-navigation__link(href="#registry") Registry
//-       a.mdl-navigation__link(href="#rsvp") RSVP
//- .mdl-layout__drawer.small-only
//-   //- span.mdl-layout-title Title
//-   nav.mdl-navigation
//-     a.mdl-navigation__link(href="#home") Home
//-     a.mdl-navigation__link(href="#story") Our Story
//-     a.mdl-navigation__link(href="#party") Wedding Party
//-     a.mdl-navigation__link(href="#photos") Photos
//-     a.mdl-navigation__link(href="#accomodations") Accomodations
//-     a.mdl-navigation__link(href="#registry") Registry
//-     a.mdl-navigation__link(href="#rsvp") RSVP

.container.row.logo-wrap
  button.nav-button
    span.nav-button-row
    span.nav-button-row
    span.nav-button-row
  h1.header-logo
    a.header-logo-link(href="./")
      span.d D
      span.a A

nav.container.row.main-nav
  li
    a(href="#home") Home
  li
    a(href="#story") Our Story
  li
    a(href="#party") Wedding Party
  li
    a(href="#photos") Photos
  li
    a(href="#accomodations") Accomodations
  li
    a(href="#registry") Registry
  li
    a(href="#rsvp") RSVP
