ul.nav-list

  li.nav-list-item
    a.nav-link(href="#overview") Overview

  li.nav-list-item
    a.nav-link(href="#syntax") Syntax

  li.nav-list-item
    a.nav-link(href="#conditionals") Conditionals

  li.nav-list-item
    a.nav-link(href="#placeholders") Placeholders

  li.nav-list-item
    a.nav-link(href="#extend") Extend

  li.nav-list-item
    a.nav-link(href="#property_lookup") Property Lookup

  li.nav-list-item
    a.nav-link(href="#plugins") Plugins
