ul.nav-list

  li.nav-list-item
    a.nav-link(href="#overview") Home

  li.nav-list-item
    a.nav-link(href="#syntax") Our Story

  li.nav-list-item
    a.nav-link(href="#conditionals") Wedding Party

  li.nav-list-item
    a.nav-link(href="#placeholders") Photos

  li.nav-list-item
    a.nav-link(href="#extend") Accomodations

  li.nav-list-item
    a.nav-link(href="#property_lookup") Registry

  //- li.nav-list-item
  //-   a.nav-link(href="#plugins") Comment
