ul.nav-list

  li.nav-list-item
    a.nav-link(href="#home") Home

  li.nav-list-item
    a.nav-link(href="#story") Our Story

  li.nav-list-item
    a.nav-link(href="#party") Wedding Party

  li.nav-list-item
    a.nav-link(href="#photos") Photos

  li.nav-list-item
    a.nav-link(href="#accomodations") Accomodations

  li.nav-list-item
    a.nav-link(href="#registry") Registry

  //- li.nav-list-item
  //-   a.nav-link(href="#plugins") Comment
