h2 Syntax

hr

h3 CSS Syntax
.example
  .syntax-element.syntax-css

  pre
    code.language-css.
      .syntax-css {
        background: red;
      }

h3 Sass Syntax
.example
  .syntax-element.syntax-sass

  pre
    code.language-css.
      .syntax-sass
        background: green


h3 Stripped Down Stylus (AWESOME!!!) Syntax
.example
  .syntax-element.syntax-stylus

  pre
    code.language-stylus.
      .syntax-stylus
        background blue
