h1.page-header ~ Registry ~

.sub-page-content
  .inner.registry-content
    a.registry-link.external-link(href="http://www.amazon.com/registry/wedding/1CHK1R0OCT87R" target="_blank")
      img(src="images/registry/amazon.png" alt="Amazon Registry")

    a.registry-link.external-link(href="https://www.myregistry.com/wedding-registry/Donelle-Smith-Ashton-Harris-Philadelphia-PA/964813" target="_blank")
      img(src="images/registry/my-reg-logo.png" alt="My Registry")
