.registry-content
  padding-top 1em

.registry-link
  background $white
  padding 3em
  display inline-block
  vertical-align top
  margin 0 5%
  box-shadow 2px 2px 2px rgba(0,0,0,.5)
  position relative
  margin-bottom 2em
  width 90%
  text-align center

  img
    width 100%
    max-width 400px

  &:hover
    box-shadow 1px 1px 1px rgba(0,0,0,.5)

+above(48em)
  .registry-content
    padding-top 3em

  .registry-link
    max-width 40%
    height 300px

    img
      max-width 80%
      align(b)
