h1.page-header ~ Our Story ~

.sub-page-content
  .inner
    .row
      .md-span-6
        img.round-top-left(src="../images/story/IMG_9417.jpg")
      .md-span-6
        p.story-text
          | <span class="first-character">D</span>onelle & Ashton met during their sophomore year at LaSalle. They both lived in St. Basil Court and met on Donelle’s 19th birthday through mutual friends. They began dating the summer of their junior year and have been by each others sides ever since!

    .row
      .span-12.md-span-6.right
        img(src="../images/story/IMG_9437.jpg")
      .span-12.md-span-6
        p.story-text
          | After graduation, Donelle went back to New York and Ashton moved to South Philly. It was during that summer and traveling back and forth to Philadelphia that Ashton asked Donelle to look for jobs in Philadelphia and to move in with him. That October, Donelle landed her first job and moved back to Philadelphia to be with Ashton. They lived in South Philly for about a month before moving to Manayunk with their good friend, Dana Gehr. Shortly after moving in there was a new addition to the Smith/Harris household, their bluenose pitbull puppy, Jayda!

    .row
      .span-12.md-span-6
        img(src="../images/story/IMG_9160.jpg")
      .span-12.md-span-6
        p.story-text
          | Ashton proposed to Donelle on July, 7, 2013 on what turned out to be a whirl-wind brunch. They started the morning by trying a new restaurant off of one of their favorite hiking trails. During their walk back to the car they came across a small bridge and stopped to look at the water running underneath it. They continued to walk towards the car and Ashton spun her around, got down on one knee and proposed. After the proposal, they went to brunch where they called their family and friends to share the exciting news!


    .row
      .span-12.md-span-6.right
        img.round-bottom-right(src="../images/story/IMG_9027.jpg")
      .span-12.md-span-6
        p.story-text
          | To our families and friends, thank you for your constant love and support over the last seven years and for all the years ahead.
        p.story-text
          | We look forward to celebrating with all of you in Jamaica!

