.story-text
  color $light-text

.first-character
  font-size 3.18em
  float left
  display block
  font-family $script
  padding-right 5px
  margin-top 0px
  line-height 1em



+above(48em)

  .story-text
    font-size 1em
    // padding 2em

  .first-character
    padding-right 0
    margin-top 8px
    line-height 0.8


+above(54em)
  .story-text
    font-size 1.1em

+above(64em)

  .story-text
    font-size 1.2em
    padding 1em

  .first-character
    padding-right 0
    margin-top 8px
    line-height 0.8

+above(80em)
  .story-text
    font-size 1.3em
    padding 2em
