.home
  text-align center

.home-title
  font-family $script
  font-size 5em
  margin 1em auto 0
  line-height 1
  font-weight 100

.home-date
  font-size 3em
  color $white
  margin 0.5em 15px 0
  line-height 1
  font-family $script
  font-weight 100

.countdown-wrap
  margin-top 10em
  margin-bottom 2em

  +above(48em)
    position absolute
    right 25px
    bottom 25px

.countdown
  line-height 1.5
  font-style italic
  font-size 3em

.countdown-number
  color $light-text
  background white
  margin 5px
  padding 0 10px
  border-radius 5px
  position relative
  overflow hidden
  display inline-block

  &:before
    content ''
    background $light-text
    height 1px
    width 100px
    position absolute
    left -10px
    top 50%




