.home-date
  // float right
  text-align right
  // background white
  font-size 2em
  color $white
  font-weight 100
  font-style italic
  margin 0.5em 15px 0
  line-height 1


.home-location
  text-align right
  font-weight 100
  margin 0 15px
  font-size 1.2em
  line-height 1.5
  font-style italic

.countdown
  align(both)
  font-size 10em



