.home
  text-align center

.home-title
  font-family $script
  font-size 5em
  margin 1em auto 0
  line-height 1

.home-date
  font-size 3em
  color $white
  margin 0.5em 15px 0
  line-height 1
  font-family $script


.countdown
  text-align right
  font-weight 200
  margin 0 15px
  line-height 1.5
  font-style italic
  font-size 1em
  color $white



