h2 Conditionals

h3 LESS Guards
.example
  pre
    code.language-less.
      .mixin (@a) when (lightness(@a) >= 50%) {
        background-color: black;
      }
      .mixin (@a) when (lightness(@a) < 50%) {
        background-color: white;
      }
      .mixin (@a) {
        color: @a;
      }

      .conditional-example-1 {
        .mixin(#ddd)
      }
      .conditional-example-2 {
        .mixin(#555)
      }

  p.
    Here is what we will get:

  pre
    code.language-css.
      .conditional-example-1 {
        background-color: black;
        color: #dddddd;
      }
      .conditional-example-2 {
        background-color: white;
        color: #555555;
      }


h3 Sass Conditionals
.example
  pre
    code.language-stylus.
      =mixin($a)
        @if lightness($a) >= 50%
          background-color: black
        @else if lightness($a) < 50%
          background-color: white
        color: $a;

      .conditional-example-1
        +mixin(#ddd)
      .conditional-example-2
        +mixin(#555)

  p.
    Here is what we will get:

  pre
    code.language-css.
      .conditional-example-1 {
        background-color: black;
        color: #ddd;
      }
      .conditional-example-2 {
        background-color: white;
        color: #555;
      }

h3 Stylus Conditionals
.example
  pre
    code.language-stylus.
      mixin(a)
        if lightness(a) >= 50%
          background-color: black
        else if lightness(a) < 50%
          background-color: white
        color: a;

      .conditional-example-1
        mixin(#ddd)
      .conditional-example-2
        mixin(#555)

  p Yields:

  pre
    code.language-css.
      .conditional-example-1 {
        background-color: #000;
        color: #ddd;
      }
      .conditional-example-2 {
        background-color: #fff;
        color: #555;
      }
