h2 Plugins

h3 Nib
.example
  a(href="http://tj.github.io/nib/" target="_blank") Nib
  ul
    li Like Compass for stylus
    li Built in mixins
    li Vendor Prefixes

h3 Rupture
.example
  a(href="http://jenius.github.io/rupture/" target="_blank") Rupture
  ul
    li Easily readable media query mixins

  pre
    code.language-stylus.
      +above(48em)
        .foo
          background black

  p CSS:

  pre
    code.language-css.
      @media only screen and (min-width: 48em) {
        .foo {
          background: #000;
        }
      }

h3 Jeet
.example
  a(href="http://jeet.gs/" target="_blank") Jeet
  ul
    li A grid system for humans
    li Easy to use powerful grid mixins
    li See how to use this to create a class based grid system:
      a(href="http://www.ashtonharris.me/#!/stylus_grid" target="_blank") http://www.ashtonharris.me/#!/stylus_grid

  pre
    code.language-stylus.
      col(1/4, gutter: .5)

h3 Stylint
.example
  a(href="https://github.com/rossPatton/stylint" target="_blank") Stylint
  ul
    li Stylus linting
