h1.page-header ~ Accomodations ~

.sub-page-content
  .inner
    .acc-header-image
      img.round-top(src="images/accomodations/sesmb.00RL01gk-is-241.jpg")

    a.cta.external-link(href="https://www.signup4.net/public/ap.aspx?EID=SMIT39E&OID=50" target="_blank") Book Now!

    p.text
      | We are thrilled you’re joining us in Jamaica for what promises to be a great time! We have a room block set up through Apple Vacations for your stay at Secrets St. James, an all-inclusive resort. Apple Vacations is also offering a reduced room rate if you book your flight through their Reservations Department (more info about that when you click on the link below).

    p.text
      | One thing worth mentioning - we’ve planned the wedding over Columbus Day weekend so our guests can take advantage of having Monday off before diving back into the work week.
