h1.page-header ~ Travel &amp; Accomodations ~

.sub-page-content
  .inner
    .acc-header-image
      img.round-top(src="images/accomodations/sesmb.00RL01gk-is-241.jpg")

    //- a.cta.header-cta.book-now.external-link(href="https://www.signup4.net/public/ap.aspx?EID=SMIT39E&OID=130" target="_blank") Book Your Room Now!

    a.cta.header-cta.external-link(href="https://www.signup4.net/Public/ap.aspx?EID=SMIT40E" target="_blank") Submit Flight Info

    p.text
      | We are thrilled you’re joining us in Jamaica for what promises to be a great time! We have a room block set up through Apple Vacations for your stay at Secrets St. James, an all-inclusive resort.
    
    p.text
      | Once you RSVP you will recieve detailed instructions on booking your stay.

    p.text
        | In order to arrange free travel to and from the resort, don't forget to submit your flight info. For more information on flights please visit: <a target="_blank" class="external-link text-link" href="https://www.signup4.net/public/ap.aspx?EID=SMIT39E&OID=161">https://www.signup4.net/public/ap.aspx?EID=SMIT39E&OID=161</a>.

    p.text
      | One thing worth mentioning - we’ve planned the wedding over Columbus Day weekend so our guests can take advantage of having Monday off before diving back into the work week.
    br
    br
