h2 Extend

h3 LESS

.example
  pre
    code.language-less.
      .extend-parent-1 {
        &:extend(.extended-class);
        background: blue;
      }

      .extend-parent-2 {
        &:extend(.extended-class, .extended-class .extended-child);
        background: green;
      }

      .extended-class {
        color: red;

        .extended-child {
          background: black;
        }
      }

  p Yields:

  pre
    code.language-css.
      .extend-parent-1 {
        background: blue;
      }
      .extend-parent-2 {
        background: green;
      }
      .extended-class,
      .extend-parent-1,
      .extend-parent-2 {
        color: red;
      }
      .extended-class .extended-child,
      .extend-parent-2 {
        background: black;
      }


h3 Sass
p Since we can do placeholders we do not need to generate an extra class
p
  strong Note:
  | Sass does not allow nested selectors

.example
  pre
    code.language-stylus.
      .extend-parent-1
        @extend %extended-class
        background: blue

      .extend-parent-2
        @extend %extended-class
        background: green

      %extended-class
        color: red

  p Yields:

  pre
    code.language-css.
      .extend-parent-1 {
        background: blue; }

      .extend-parent-2 {
        background: green; }

      .extend-parent-1, .extend-parent-2 {
        color: red; }

h3 Stylus
p Again with placeholders

.example
  pre
    code.language-stylus.
      $extended-placeholder
        color red

      .placeholder-extend-parent-1
        @extend $extended-placeholder
        background blue

      .placeholder-extend-parent-2
        @extend $extended-placeholder
        background green

      .extended-class
        color white
        .extended-child
          background black

      .class-extend
        @extend .extended-class, .extended-class .extended-child


  p Note: the extended class comes before it's usage (it is CSS after all)

  pre
    code.language-css.
      .placeholder-extend-parent-1,
      .placeholder-extend-parent-2 {
        color: #f00;
      }
      .placeholder-extend-parent-1 {
        background: #00f;
      }
      .placeholder-extend-parent-2 {
        background: #008000;
      }
      .extended-class,
      .class-extend {
        color: #fff;
      }
      .extended-class .extended-child,
      .class-extend .extended-child,
      .class-extend {
        background: #000;
      }

  h4 Optional Extending
  p Useful if you may or may not want to extend a property based on context

  pre
    code.language-stylus.
      $specialDesign
        color: #FFF

      .optional-extend
        @extend .design !optional, $specialDesign !optional

  pre
    code.language-css.
      .optional-extend {
        color: #fff;
      }



