$extended-placeholder
  color red

.placeholder-extend-parent-1
  @extend $extended-placeholder
  background blue

.placeholder-extend-parent-2
  @extend $extended-placeholder
  background green

.extended-class
  color white
  .extended-child
    background black

.class-extend
  @extend .extended-class, .extended-class .extended-child


$specialDesign
  color: #FFF

.optional-extend
  @extend .design !optional, $specialDesign !optional
